* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
   height :100vh;
   position: relative;
   background-image: url(bg.jpeg);
   background-size: cover;
   background-position: center;
   
}
   
   section {
     display: grid;
     place-items: center;
     position: absolute;
     inset:0;
     overflow-y: auto;
   }
   
   section main {
     padding: 100px 10px;
     display: flex;
     flex-direction: column;
     gap: 10px;
     width: 100%;
     max-width: 600px;
     justify-content: center;
     text-align: center;
     align-items: center;
   }
   
   section main header img {
     width: 100px;
     border-radius: 50%;
     aspect-ratio: 1;
     box-shadow: 0 0 4px 1px #1273B7;
     margin-bottom: 10px;
     border: 0.9px solid white;
   }
   
   section main header h2{
     font-weight: 600;
     color: white;
     text-shadow: 0 0 1px transparent, 0 1px 2px rgba(0,0,0,0.8);
    margin-bottom: 10px; 
   }
   
   section main header p {
     color: white;
     opacity: 85%;
     margin-bottom: 20px;
   }
   
   section main nav, section main aside {
     width: 100%;
     align-items: center;
     justify-content: center;
     
   }
   section main nav a, section main aside a{
     display: flex;
     align-items: center;
     justify-content: center;
     border: 1.5px solid white;
     padding: 10px;
     color: white;
     text-decoration: none;
     border-radius: 7px;
     gap: 20px;
     transition: 0.3s;
     margin: 10px 0px;
   }
   
   section main nav a:hover, section main aside a:hover{
     background-color:white ;
     color: #333;
     
   }
   
   section main nav a i {
     font-size: 1.4em;
   }

   section main aside a i {
     font-size: 1.2em;
     margin-right: 18px;
   }
   
   section main h4 {
     color: white;
     margin-top: 1.5em;
     margin-bottom: 1em;
   }
  
   
   footer {
     color: white;
   }
   
   footer a {
     color: white;
     font-weight: 600;
     text-decoration: none;
   }
   
   
   
   
   
   
  
